<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3><%= @title %>ランキング</h3>
                <ol class="items">
                    <%= render @items %>
                </ol>
        </div>        
    </div>
</div>
